<div class="page page-dashboard" cg-busy="dashboardPromise">

  <!-- cards row -->
  <div class="row">
    <div class="col-md-9">
        <!-- tile -->
        <section class="tile">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Lokasi </strong>Penanaman</h1>
            <ul class="controls">
              <li xng-controller="DaterangepickerCtrl" id="date-range-container">
                <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                  <span>{{startDate | moment:'D MMMM YYYY'}} - {{endDate | moment:'D MMMM YYYY'}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                </a>
              </li>
              <li><a href tile-control-refresh ng-click="refreshDashboard()"><fa name="refresh"></fa> </a></li>
            </ul>
          </div>
          <!-- /tile header -->


          <!-- tile body -->
          <div class="tile-body p-0">

              <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-body">
                    <wrap-owlcarousel class="owl-carousel" data-options="{
                    autoPlay: 5000,
                    stopOnHover: true,
                    slideSpeed : 300,
                    paginationSpeed : 400,
                    lazyLoad : true,
                    navigation : false,
                    singleItem : true}">
                      <div ng-repeat="photo in photos" style="text-align: center; height: 200px;">
                        <img ng-src="{{photo.url}}" style="height: 100%"/>
                      </div>
                    </wrap-owlcarousel>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-sm btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="$dismiss()"><i class="fa fa-arrow-left"></i> Cancel</button>
                </div>
              </script>

             <openlayers ol-center="mapConfig.center" height="500px" ol-defaults="mapConfig.defaults" custom-layers="true">
                  <ol-layer ng-repeat="(key, layer) in mapConfig.layers" ol-layer-properties="layer"></ol-layer>
                  <!-- <ol-marker lat="point.lat" lon="point.lon" message="Here is Beijing. Dreamful place." ng-repeat="(key, point) in points"></ol-marker> -->

                  <!-- <ol-marker ol-marker-properties="eiffel" ></ol-marker>
                  <ol-marker ol-marker-properties="notredame" ></ol-marker>
                  <ol-marker ol-marker-properties="versailles" ></ol-marker> -->
                  <ol-marker ol-marker-properties="point" ng-repeat="(key, point) in mapConfig.points" ng-click="onPointClick(point)" ol-style="customMarker">
                   </ol-marker>
             </openlayers>

              <div xng-hide="true" style="display:block;z-index:100;position:absolute;bottom:0px;left:0px;right:0;padding: 10px;background:rgba(255,255,255,.5);text-align:center;">
                  <!-- <input type="color" ng-model="geojson.style.fill.color"> -->
                  <!-- <label ng-repeat="(key, layer) in layers"><input type="checkbox" ng-model="layer.visible"><span ng-bind="layer.label"></span></label> -->

                  <p class="mb-0">Lon: <span>{{ mapConfig.mouseposition.lon | round10:-4 }}</span>, Lat: <span>{{ mapConfig.mouseposition.lat | round10:-4 }}</span></p>
              </div>

               <!-- <div id="countrybox" class="info country f32">
                  <div ng-show="selectedCountry" class="flag" ng-class="selectedCountry['alpha-2']|lowercase"></div>
                  {{ selectedCountry.name || 'No country'}}
               </div> -->
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->      
    </div>
	
	<div class="col-md-3">
          <!-- Info Boxes Style 2 -->
		  <section ng-repeat="(key, data) in summaryData">
		  
          <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Penanaman</span>
              <span class="info-box-number" ng-bind="data.value" ></span>Pohon
              
            </div>
            <!-- /.info-box-content -->
          </div>
		  
		 </section>  
		 
          <!-- /.info-box -->
		  <section ng-repeat="(key, data) in summaryData2">
		  
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Penurunan Emisi</span>
              <span class="info-box-number" ng-bind="data.value"></span>
			  Ton Co2 Eq
            </div>
            <!-- /.info-box-content -->
          </div>
		  
		  </section> 
          <!-- /.info-box -->
		  <section ng-repeat="(key, data) in summaryData3">
		  
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Stock Bibit</span>
              <span class="info-box-number" ng-bind="data.value"></span>Bibit
            </div>
            <!-- /.info-box-content -->
          </div>
		  
		  </section> 
          <!-- /.info-box -->
		  <section ng-repeat="(key, data) in summaryData4">
		  
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Persemaian</span>
              <span class="info-box-number" ng-bind="data.value"></span>lokasi
            </div>
            <!-- /.info-box-content -->
          </div>
		  
		  </section> 
          <!-- /.info-box -->
                
        </div>
	
	
  </div>
  <!-- /row -->



</div>
