<div cg-busy="promise">
    <div class="modal-header">
        <h3 class="modal-title">Update Profile</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form" autocomplete="off" ng-submit="save()">
            <div class="form-group">
                <label class="col-sm-4 control-label required" for="name">Nama</label>
                <div class="col-sm-8">
                    <input class="form-control underline-input" id="name"  ng-model="data.name" name="name" required="required" ></input>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label required">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control underline-input" id="email" ng-model="data.email" name="email" required="required" autocorrect="off" autocapitalize="off" autocomplete="off" disabled="" readonly="">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label" ng-class="{required: !data.id}">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control underline-input" id="password" ng-model="data.password" name="password" ng-required="!data.id" autocorrect="off" autocapitalize="off" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password" class="col-sm-4 control-label" ng-class="{required: !data.id}">Confirm Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control underline-input" id="confirm_password" ng-model="confirm_password" name="confirm_password" required="required" ui-validate=" '$value==data.password' " ui-validate-watch=" 'data.password' " ng-required="!data.id">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-lightred" ng-click="$dismiss()"><i class="fa fa-times"></i> Cancel</button>
        <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid || !form.$dirty"><i class="fa fa-save"></i> Simpan</button>
    </div>
</div>