<div class="page page-core page-login" style="margin-top: -25px;">

  <div class="container w-420 p-15 bg-white mt-40 text-center" style="border: 1px solid #dbe0e2;" cg-busy="promise">

    <h2 class="text-light text-greensea">Reset Password</h2>

    <form name="form" class="form-validation mt-20" novalidate>

      <div class="form-group">
        <input type="email" class="form-control underline-input" placeholder="Email" ng-model="data.email" required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control underline-input" placeholder="Password" ng-model="data.password" required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control underline-input" id="password_confirmation" ng-model="data.password_confirmation" name="password_confirmation" placeholder="Confirm Password" required="required" ui-validate=" '$value==data.password' " ui-validate-watch=" 'data.password' ">
      </div>


    </form>

    <div class="bg-slategray lt wrap-reset mt-40 text-left">
      <p class="m-0">
        <a class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='form.$invalid' ng-click="onResetPassword(data)">Submit</a>
        <a ui-sref="app.login" class="btn btn-lightred b-0 text-uppercase">Back To Login</a>
      </p>
    </div>

  </div>

</div>
