<div class="page page-core page-login" style="margin-top: -25px;">

  <div class="container w-420 p-15 bg-white mt-40 text-center" style="border: 1px solid #dbe0e2;" cg-busy="promise">

    <h2 class="text-light text-greensea">Sign Up</h2>

    <form name="form" class="form-validation mt-20" novalidate ng-submit="submit()">

        <div ng-if="step==1">

            <p class="help-block text-left">
                Enter your login details below:
            </p>

            <div class="form-group">
                <input type="text" class="form-control underline-input" placeholder="Full Name" ng-model="data.name" required>
            </div>

            <div class="form-group">
                <input type="email" class="form-control underline-input" placeholder="Email" ng-model="data.email" required>
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control underline-input" ng-model="data.password" required>
            </div>
            
            <div class="form-group">
                <input type="password" class="form-control underline-input" id="password_confirmation" ng-model="data.password_confirmation" name="password_confirmation" placeholder="Confirm Password" required="required" ui-validate=" '$value==data.password' " ui-validate-watch=" 'data.password' ">
            </div>

        </div>

        <div ng-if="step==2">

            <div class="form-group">
                <div class="btn-group" style="width: 100%;">
                    <label class="btn btn-default" style="width: 50%;" ng-model="data.role" btn-radio="'perorangan'">Perorangan</label>
                    <label class="btn btn-default" style="width: 50%;" ng-model="data.role" btn-radio="'badan-hukum'">Badan Hukum</label>
                </div>
            </div>

          <div class="form-group">
                <input name="phone_number" id="phone_number" type="text" class="form-control" ng-model="data.phone_number" placeholder="No. Telp" />
          </div>
            
        <div class="form-group">
                <textarea name="address" id="address" class="form-control" ng-model="data.address" placeholder="Alamat"></textarea>
        </div>
            
          <div class="form-group" ng-if="data.role == 'badan-hukum'">
            <input name="legal_entity_type" id="legal_entity_type" type="text" class="form-control" ng-model="data.legal_entity_type" placeholder="Jenis Badan Hukum"/>
          </div>

          <div class="form-group">
            <input name="id_number" id="id_number" type="text" class="form-control" ng-model="data.id_number" placeholder="{{ data.role == 'badan-hukum' ? 'No. Pengesahan' : 'No. Identitas'}}" />
          </div>

          <div class="form-group" ng-if="data.role == 'badan-hukum'">
                <input name="contact_person" id="contact_person" type="text" class="form-control" ng-model="data.contact_person" placeholder="Penanggung Jawab"/>
          </div>

        </div>

        <div class="bg-slategray lt wrap-reset mt-20 text-left">
        <p class="m-0">
            <button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='form.$invalid' ng-show="step==2">Submit</button>
            <button ng-click="next()" type="button" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='form.$invalid' ng-show="step!=2">Next</button>
            <a ng-click="back()" class="btn btn-lightred b-0 text-uppercase">Back</a>
        </p>
        </div>

    </form>

  </div>

</div>
