<!-- row -->
<div class="row">


  <!-- col -->
  <div class="col-md-12">

    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen04">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body">


        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form" autocomplete="off">

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="name">Nama</label>
            <div class="col-sm-10">
              <input class="form-control underline-input" id="name"  ng-model="data.name" name="name" required="required" ></input>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label required">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control underline-input" id="email" ng-model="data.email" name="email" required="required" autocorrect="off" autocapitalize="off" autocomplete="off">
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label class="col-sm-2 control-label required">Hak Akses</label>
              <div class="col-sm-8">
                  <select name="role_id" chosen="{width: '240px'}" ng-model="data.role_id" ng-options="item.id as item.name for item in roles" required="true" ng-disabled="!roles.length">
                      <option value="">Pilih Hak Akses</option>
                  </select>
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label" ng-class="{required: !data.id}">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control underline-input" id="password" ng-model="data.password" name="password" ng-required="!data.id" autocorrect="off" autocapitalize="off" autocomplete="off">
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label for="confirm_password" class="col-sm-2 control-label" ng-class="{required: !data.id}">Confirm Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control underline-input" id="confirm_password" ng-model="confirm_password" name="confirm_password" required="required" ui-validate=" '$value==data.password' " ui-validate-watch=" 'data.password' " ng-required="!data.id">
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label class="col-sm-2 control-label required" for="address">Alamat</label>
              <div class="col-sm-8">
                  <textarea name="address" id="address" class="form-control" ng-model="data.address"></textarea>
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label class="col-sm-2 control-label required" for="phone_number">No. Telp</label>
              <div class="col-sm-8">
                  <input name="phone_number" id="phone_number" type="text" class="form-control underline-input" ng-model="data.phone_number" />
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group" ng-if="data.role_id == 5">
              <label class="col-sm-2 control-label required" for="legal_entity_type">Jenis Badan Hukum</label>
              <div class="col-sm-8">
                  <input name="legal_entity_type" id="legal_entity_type" type="text" class="form-control underline-input" ng-model="data.legal_entity_type" />
              </div>
          </div>
          <hr class="line-dashed line-full" ng-if="data.role_id == 5"/>

          <div class="form-group" ng-if="[3,4,5].indexOf(data.role_id) !== -1">
              <label class="col-sm-2 control-label required" for="id_number">
                <span ng-if="data.role_id == 3">Surat Tugas</span>
                <span ng-if="data.role_id == 4">No. Identitas</span>
                <span ng-if="data.role_id == 5">No. Pengesahan</span>
              </label>
              <div class="col-sm-8">
                  <input name="id_number" id="id_number" type="text" class="form-control underline-input" ng-model="data.id_number" />
              </div>
          </div>
          <hr class="line-dashed line-full" ng-if="[3,4,5].indexOf(data.role_id) !== -1"/>

          <div class="form-group" ng-if="data.role_id == 3">
              <label class="col-sm-2 control-label required" for="seedbed_id">Lokasi Persemaian</label>
              <div class="col-sm-8">
                  <select name="seedbed_id" chosen="{width: '240px'}" ng-model="data.seedbed_id" ng-options="item.id as item.address for item in seedbeds" required="true" xng-disabled="!seedbeds.length">
                      <option value="">Pilih Lokasi Persemaian</option>
                  </select>
              </div>
          </div>
          <hr class="line-dashed line-full" ng-if="data.role_id == 3"/>

          <div class="form-group" ng-if="data.role_id == 5">
              <label class="col-sm-2 control-label required" for="contact_person">Penanggung Jawab</label>
              <div class="col-sm-8">
                  <input name="contact_person" id="contact_person" type="text" class="form-control underline-input" ng-model="data.contact_person" />
              </div>
          </div>
          <hr class="line-dashed line-full" ng-if="data.role_id == 5"/>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
              <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
              <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
            </div>
          </div>

        </form>


      </div>
      <!-- /tile body -->

    </section>
    <!-- /tile -->



  </div>
  <!-- /col -->


</div>
<!-- /row -->



