<!-- row -->
<div class="row">


  <!-- col -->
  <div class="col-md-12">

    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen04" cg-busy="promise">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body">


        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form">

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="seedbed_id">Lokasi Persemaian</label>
            <div class="col-sm-10">
                  <select name="seedbed_id" chosen="{width: '300px'}" ng-model="seedbed" ng-options="item as item.address for item in seedbeds" ng-disabled="!seedbeds.length" ng-change="onSeedbedChanged(seedbed)">
                      <option value="">Cari Persemaian</option>
                  </select>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label for="lat" class="col-sm-2 control-label required">Koordinat</label>
              <div class="col-sm-4">
                  <div class="col-sm-6 p-0">
                    <input type="number" class="form-control" ng-model="seedbed.lon" step="0.01" readonly="" />
                  </div>
                  <div class="col-sm-6 p-0">
                    <input type="number" class="form-control" ng-model="seedbed.lat" step="0.01" readonly="" />
                  </div>
                  <div class="clearfix"></div>
                  <div coordinate-selector="seedbed" read-only="true"></div>
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="wide">Luas</label>
            <div class="col-sm-4">
              <input class="form-control" id="wide"  ng-model="seedbed.wide" name="wide" required="required" readonly />
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <table class="table">
            <thead>
              <tr>
                <th>Jenis</th>
                <th style="width: 200px;">Tgl. Sapih</th>
                <th style="width: 100px;">Jumlah Sebelumnya</th>
                <th style="width: 100px;">Jumlah Saat Ini</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="detail in seedbedDetails" ng-class="{'row-deleted': detail.deleted}">
                <td><input type="text" class="form-control" name="type" ng-model="detail.type" ng-disabled="detail.deleted" required readonly/></td>
                <td>
                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="detail.date" is-open="opened[$index]" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-focus="opened[$index] = true" xng-blur="opened[$index] = false" ng-disabled="detail.deleted" readonly/>
                </td>
                <td><input type="number" class="form-control" name="quantity" ng-model="detail.quantity" ng-disabled="detail.deleted" required readonly /></td>
                <td><input type="number" class="form-control" name="new_quantity" ng-init="detail.new_quantity = detail.quantity" ng-model="detail.new_quantity" ng-disabled="detail.deleted" required min="0"/></td>
              </tr>
            </tbody>
          </table>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
              <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
              <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
            </div>
          </div>

        </form>


      </div>
      <!-- /tile body -->

    </section>
    <!-- /tile -->



  </div>
  <!-- /col -->


</div>
<!-- /row -->



