<!-- row -->
<div class="row">


  <!-- col -->
  <div class="col-md-12">

    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen04" cg-busy="promise">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body">


        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form">

          <div class="form-group">
            <label for="code" class="col-sm-2 control-label required">Kode Kecamatan</label>
            <div class="col-sm-10">
              <input type="text" class="form-control underline-input" id="code" ng-model="data.code" name="code" required="required">
            </div>
          </div>

          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="name">Nama Kecamatan</label>
            <div class="col-sm-10">
              <input class="form-control underline-input" id="name"  ng-model="data.name" name="name" required="required"></input>
            </div>
          </div>

          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="user">Pengelola</label>
            <div class="col-sm-10">
                  <!-- <ui-select multiple ng-model="$parent.newUsers" xng-disabled="disabled" class="w-md" reset-search-input="true" search-enabled="false" tagging-tokens="[',','ENTER','SPACE','|']">
                      <ui-select-match placeholder="Cari Pengguna">{{$item.name}}</ui-select-match>
                      <ui-select-choices repeat="user.id as user in users | filter:$select.search">
                        {{user.name}}
                      </ui-select-choices>
                  </ui-select> -->
                  <select name="user" multiple chosen="{width: '300px'}" ng-model="newUsers" ng-options="item.id as item.name for item in users" ng-disabled="!users.length">
                      <option value="">Cari Pengguna</option>
                  </select>
            </div>
          </div>

          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
              <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
              <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
            </div>
          </div>

        </form>


      </div>
      <!-- /tile body -->

    </section>
    <!-- /tile -->



  </div>
  <!-- /col -->


</div>
<!-- /row -->



