<!-- row -->
<div class="row">


  <!-- col -->
  <div class="col-md-12">

    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen04" cg-busy="promise">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body">


        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form">

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label required">Nama</label>
            <div class="col-sm-10">
              <input type="text" class="form-control underline-input" id="name" ng-model="data.name" name="name" required="required">
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="type">Jenis</label>
            <div class="col-sm-10">
                  <select name="type" chosen="{width: '300px'}" ng-model="data.type" ng-options="item for item in emissionTypes" required>
                      <option value="">Jenis</option>
                  </select>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="name">Emisi</label>
            <div class="col-sm-10">
              <input type="number" class="form-control underline-input" id="emission"  ng-model="data.emission" name="emission" required="required"></input>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
              <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
              <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
              <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /tile body -->
    </section>
    <!-- /tile -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->