.info {
    background-color: #fff;
    border: 2px #444 solid;
    border-radius: 7px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    color: #111;
    font-size: 32px;
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 100;
    font-weight: bold;
    padding: .2em .5em;
    white-space: nowrap;
    line-height: 1.1em;
    text-align: center;
    z-index: 100;
}

.info:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    border-right: 6px solid black;
    border-right-color: inherit;
    position: absolute;
    left: -8px;
    top: 20px;
}

.form-detail .control-label {
    text-align: left;
}

th.rotate {
  /* Something you can count on */
  height: 200px;
  white-space: nowrap;
  vertical-align: bottom !important;
}

th.rotate > div {
  transform: 
    translate(0, 0)
    rotate(270deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.modal-body .table-responsive {
    overflow-x: scroll;
}

.table-responsive .table > thead > tr > th {
    vertical-align: middle;
}

#navigation li.dropdown > a {
  cursor: default;
} 

.control-label.required:after {
  content: '*';
  color: red;
  padding-left: 2px;
}

table.centered-table-header thead th {
  vertical-align: middle;
  text-align: center;
}

.sidebar-hidden #sidebar, .sidebar-hidden #navigation, .sidebar-hidden .sidebar-collapse {
    display: none;
}
#minovate.header-fixed.sidebar-hidden #content {
    left: 0 !important;
}

.image-area .image {
    float: left;
    padding: 5px;
    position: relative;
    text-align: center;
}

.image-area .image > .remove {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 100;
}

.image-area .image.deleted img {
    opacity: 0.4;
}

.image-area .image.deleted input {
    opacity: 0.4;
}

tr.row-deleted {
    font-style: italic;
    text-decoration: underline;
}

#navigation .dropdown.open > a > i:last-of-type:before {
  content: "\f107" !important;
}