<div class="row">
    <!-- col -->
    <div class="col-md-12">
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen04">
            <!-- tile header -->
            <div class="tile-header dvd dvd-btm">
                <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
            </div>
            <!-- /tile header -->
            <!-- tile body -->
            <div class="tile-body">
                <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="name">Hak Akses</label>
                        <div class="col-sm-10">
                            <input class="form-control underline-input" id="name"  ng-model="data.name" name="name" required="required" ></input>
                        </div>
                    </div>
                    <hr class="line-dashed line-full"/>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Deskripsi</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control underline-input" id="description" ng-model="data.description" name="description">
                        </div>
                    </div>
                    <hr class="line-dashed line-full"/>
                    <div class="form-group">
                        <label for="level" class="col-sm-2 control-label">Level</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control underline-input" id="level" ng-model="data.level" name="level" min="0">
                        </div>
                    </div>
                    <hr class="line-dashed line-full"/>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Fitur</label>
                        <div class="col-sm-4" style="max-height: 200px; overflow-y: scroll;">
                            <div class="table-responsive">
                                <table class="table st-table table-custom mb-0" st-table st-pipe="getPermissions">
                                    <thead>
                                        <tr>
                                            <th style="width:20px;">
                                                <label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                                                    <input type="checkbox" ng-model="selectedAll" ng-click="selectAll(selectedAll)"><i></i>
                                                </label>
                                            </th>
                                            <th style="width: 50px;">No</th>
                                            <th st-sort="name" class="sorting" st-sort-default>Fitur</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in permissions | limitTo:limit">
                                            <td><label class="checkbox checkbox-custom checkbox-custom-sm m-0"><input type="checkbox" ng-model="selectedPermission[row.id]"><i></i></label></td>
                                            <td>{{ getOffset() + 1 + $index }}</td>
                                            <td>{{row.name}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="7">
                                            <!-- <pagination class="pagination-sm" ng-show="numPages>1" total-items="permissions.length" ng-model="page" items-per-page="limit" max-size="7" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="getPermissions()"></pagination> -->
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr class="line-dashed line-full"/>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
                            <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
                            <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /tile body -->
        </section>
        <!-- /tile -->
    </div>
    <!-- /col -->
</div>