<!-- row -->
<div class="row">


  <!-- col -->
  <div class="col-md-12">

    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen04" cg-busy="promise">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body">


        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form">

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="number">Nomor</label>
            <div class="col-sm-4">
                  <input type="text" class="form-control" ng-model="data.number" step="1" />
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="type">Faktor Emisi</label>
            <div class="col-sm-4">
              <select name="emission_id" chosen="{width: '300px'}" ng-model="emission" ng-options="item as (item.name + ' - ' + item.type) for item in emissions" ng-disabled="!emissions.length" required>
                  <option value="">Faktor Emisi</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group" ng-show="emission &amp;&amp; ['Fast Growing', 'Slow Growing'].indexOf(emission.type) !== -1">
            <label class="col-sm-2 control-label required" for="description">Deskripsi</label>
            <div class="col-sm-4">
              <textarea class="form-control" id="description"  ng-model="data.description" name="description" ng-required="emission &amp;&amp; ['Fast Growing', 'Slow Growing'].indexOf(emission.type) !== -1"></textarea>
            </div>
          </div>
          <hr class="line-dashed line-full" ng-show="emission  &amp;&amp; ['Fast Growing', 'Slow Growing'].indexOf(emission.type) !== -1"/>

          <!-- Dropdown Lokasi -->
          <div ng-show="!location">

          <div class="form-group" xng-show="cities.length">
            <label class="col-sm-2 control-label required" for="city">Kab/Kota</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="city" ng-options="item as item.name for item in cities" ng-disabled="!cities.length" ng-required="!location">
                  <option value="">Kab/Kota</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="cities.length"/>

          <div class="form-group" xng-show="districts.length">
            <label class="col-sm-2 control-label required" for="district">Kecamatan</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="district" ng-options="item as item.name for item in districts" ng-disabled="!districts.length" ng-required="!location">
                  <option value="">Kecamatan</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="districts.length"/>

          <div class="form-group" xng-show="villages.length">
            <label class="col-sm-2 control-label required" for="village">Desa</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="village" ng-options="item as item.name for item in villages" ng-disabled="!villages.length" ng-required="!location">
                  <option value="">Desa</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="villages.length"/>
          </div>
          
          <div class="form-group" ng-if="location">
            <label class="col-sm-2 control-label ">Lokasi</label>
            <div class="col-sm-4">
              <span ng-bind="location.name"></span> <a href="" ng-click="removeLocation()">ganti</a>
            </div>
          </div>
          <hr class="line-dashed line-full"  ng-if="location"/>
          <!-- Dropdown Lokasi -->

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="address">Alamat</label>
            <div class="col-sm-4">
              <textarea class="form-control" id="address"  ng-model="data.address" name="address" required="required"></textarea>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label for="lat" class="col-sm-2 control-label required">Koordinat</label>
              <div class="col-sm-4">
                  <div class="col-sm-6 p-0">
                    <input type="number" class="form-control" ng-model="coord.lon" step="0.01" required/>
                  </div>
                  <div class="col-sm-6 p-0">
                    <input type="number" class="form-control" ng-model="coord.lat" step="0.01" required/>
                  </div>
                  <div class="clearfix"></div>
                  <div coordinate-selector="coord"></div>
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label for="lat" class="col-sm-2 control-label">Gambar</label>
              <div class="col-sm-4">
                  <button class="btn btn-default" ngf-select="onFileSelect($files)" multiple accept="image/*" style="width: 100%;">
                      <fa name="upload"></fa> Upload Gambar
                  </button>
              </div>
          </div>
          <div class="image-area clearfix col-sm-offset-2">
              <div ng-repeat="item in oldPhotos" class="image" ng-class="{deleted: item.deleted}">
                  <a class="remove" ng-click="item.deleted = !item.deleted">
                    <fa name="times" ng-show="!item.deleted" style="color: red;"></fa>
                    <fa name="undo" ng-show="item.deleted" style="color: green;"></fa>
                  </a>
                  <img ng-src="{{item.url}}" height="100" />
                  <input type="text" ng-model="item.caption" class="form-control input-sm" placeholder="Caption">
              </div>
              <div ng-repeat="item in files" class="image">
                  <a class="remove" ng-click="removeFromQueue($index)">
                    <fa name="times" style="color: red;"></fa>
                  </a>
                  <div ng-thumb="{ file: item.file, height: 100, width: 100 }" height="100"></div>
                  <input type="text" ng-model="item.caption" ng-init="item.caption = clearExt(item.file.name)" class="form-control input-sm" placeholder="Caption">
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
              <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
              <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
            </div>
          </div>

        </form>


      </div>
      <!-- /tile body -->

    </section>
    <!-- /tile -->



  </div>
  <!-- /col -->


</div>
<!-- /row -->



